@model Hospital_Management_System.Models.Registration

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>
<fieldset id="SubmitPwd">
    @*@using (Html.BeginForm())
        {*@
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id, new { @Id = "Id" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , @id= "username", @onkeyup = "UsernameValidation()" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" ,@id= "usernamevalidation" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, "Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber,  new { htmlAttributes = new { @class = "form-control" , @id= "phoneNumber", @onkeyup = "phoneNumberValidation()" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @id= "phoneNumbervalidation" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" , @onkeyup = "passwordValidation()", @id= "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" , @id= "passwordvalidation" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success" id="updatePwd">Reset Password</button>
            </div>
        </div>

    </div>
    @*}*@
</fieldset>
<div>
    @Html.ActionLink("Back to Login", "Login")
</div>
<script>

    $("#updatePwd").click(function () {
        var myFormData = $("#SubmitPwd").serialize();
        UsernameValidation()
        passwordValidation()
        phoneNumberValidation()
        $.ajax({
            type: "POST",
            url: "/Users/ForgotPassword",
            data: myFormData,
            success: function () {
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"]("Successfully changed your password")

               
            },
            error: function (error) {
                toastr.options = {
                    "closeButton": false,
                    "newestOnTop": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Error")
            }
        });
    })

    function UsernameValidation() {

        if ($("#username").val().length >= 21) {
            $("#usernamevalidation").html("Cannot contain more than 30 characters");
        }
        else if ($("#username").val() == "") {
            $("#usernamevalidation").html("Please provide UserName");
        }
        else {
            $("#usernamevalidation").html("");
        }
    }

    function phoneNumberValidation() {

        var phoneno = /^\d{10}$/;
        if (!$("#phoneNumber").val().match(phoneno) && $("#phoneNumber").val() != "") {
            $("#phoneNumbervalidation").html("Cannot contain spaces, special characters");
        }
        else if ($("#phoneNumber").val().length >= 11) {
            $("#phoneNumbervalidation").html("Cannot contain more than 10 numbers");
        }
        else if ($("#phoneNumber").val() == "") {
            $("#phoneNumbervalidation").html("Please provide phoneNumber");
        }
        else {
            $("#phoneNumbervalidation").html("");
        }

    }

    function passwordValidation() {

        if ($("#password").val().length < 6) {
            $("#passwordvalidation").html("Please enter password of length 6");
        }
        else if ($("#password").val() == "") {
            $("#passwordvalidation").html("Please provide password");
        }
        else {
            $("#passwordvalidation").html("");
        }
    }

</script>